{% extends 'base.html' %}

{% block content %}
<h2>Пост</h2>

<form method="post">
    <input name="title" placeholder="Заголовок"
           value="{{ post.title if post else '' }}" required><br><br>

    <textarea name="content" placeholder="Текст" required>{{ post.content if post else '' }}</textarea><br><br>

    <label>
        <input type="checkbox" name="is_private"
        {% if post and post.is_private %}checked{% endif %}>
        Приватный
    </label><br><br>

    <button type="submit">Сохранить</button>
</form>
{% endblock %}
