{% extends 'base.html' %}
{% block title %}Создать пользователя{% endblock %}

{% block content %}
  <h2>Создать нового пользователя</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
    </p>
    <p>
      {{ form.password2.label }}<br>
      {{ form.password2(size=32) }}
    </p>
    <p>{{ form.is_admin() }} {{ form.is_admin.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  <p><a href="{{ url_for('index') }}">На главную</a></p>
{% endblock %}
